$theme-color-1: #2981ca;
$theme-color-1-dark: #25619b;
$theme-color-2: #ffffff;
$theme-color-3: #b9b9b9;
$theme-color-4: #dbdbdb;

$font-color-1: #4A4A4A;
$font-color-2: #ffffff;
$font-color-3: #ff5171;