$theme-color-1: #2981ca;
$theme-color-1-dark: #25619b;
$theme-color-2: #ffffff;
$theme-color-3: #b9b9b9;
$theme-color-4: #dbdbdb;
$theme-color-5: #4aa1db;
$theme-color-5-dark: #357097;
$theme-color-6: #a5a4a7;
$theme-color-6-dark: #545356;
$theme-color-7: #13b01a;
$theme-color-7-dark: #0e6e13;

$font-color-1: #4A4A4A;
$font-color-2: #ffffff;
$font-color-3: #ff5171;