.page-footer{
    background-color: $theme-color-1;

    .footer-copyright{
        color: $font-color-2;
        font-size: 1.2em;

        a{
            color: $font-color-2;
            font-size: 0.6em;
        }
    }
}